*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --pink: #FF0066;
    --pink__hover: #ff5b9d;
    --color__dark: #2e2e31;
    --color__text: #757575;
    --color__white: #ffffff;
    --backgroun__color: #f6f7fb;
    --color__border: #bdbdbd;
    --color__text__two: #686868;
}
/* _____ CLASES PARA UNIFICAR ESTILOS _____*/
.white{
    color: var(--color__white);
}
.upper{
    text-transform: uppercase;
}
/* hover para todos los botones */
.btn__hover:hover{
    background-color: var(--pink__hover);
}
/* mismo font size para los h2*/
.fs__h2{
    font-size: 2.6rem;
}
/* estos estilos son para las p que estan debajo de los h2 (en mis conocimientos y mis proyectos), comparten el mismo estilo*/
.h2--p{
    font-size: 1.2rem;
    color: var(--color__text);
    padding: 50px 0;
}
/* PLUS estos estilos me sirven para el hover de las cajitas de mis conocimientos y las cajitas de mis proyectos */
.skills__container--card:hover figcaption, .skills__container--card:hover, .projects__container--card:hover, .projects__container--card:hover figcaption{
    color: var(--pink);
    border-color: var(--pink);
}
/* _________HEADER_________ */
/*PLUS -  esconder NAVBAR y nav__footer */
/* navbar */
.navbar, .nav__footer{
    display: none;
}
/* ##Todos los ancla## */
a{
    text-decoration: none;
}
/* _________MAIN________ */
/* ABOUT MY */
#about{
    padding-top: 100px;
    text-align: center;
}
/* BOX 1 | ABOUT MY */
#about__hello{
    color: var(--color__dark);
    font-weight: 900;
    font-size: 1.8rem;
}
h1{
    font-family: 'Nerko One', cursive;
    font-size: 2.6rem;
    margin: 10px 0 20px;
}
/* PLUS para darle el mismo color aL H1 y a los navbar__item cuando hacemos hover*/
h1, .navbar__item:hover{
    color: var(--pink);
}
#about__quiensoy{
    font-size: 1rem;
    color: var(--color__text);
    padding: 0 40px;
}
/* ABOUT MY boton para ir a la seccion proyectos */
.about__btn{
    background-color: var(--pink);
    padding: 13px 50px;
    border-radius: 30px;
    font-size: 1rem;
    border: none;
    margin: 40px 0 20px;
}
#girl img{
    width: 320px;
}
/* MIS CONOCIMIENTOS */
#skills{
    background-color: var(--backgroun__color);
    padding: 80px 40px;
    text-align: center;
}
.skills__container{
    padding: 0 20px;
}
/* skills CARD */
.skills__container--card{
    padding: 40px 60px;
    background-color: var(--color__white);
    border-radius: 10px;
    border: 1px #bdbdbd solid;
    margin-bottom: 15px;
}
.skills__container--card img + figcaption{
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color__dark);
}
/* CITA DEL PRINCIPITO */
blockquote{
    background-color: var(--pink);
    text-align: center;
    padding: 100px 20px;
}
.fa-quote-right{
    font-size: 8rem;
}
blockquote p{
    margin: 15px 0 40px;
    font-size: 1.2rem;
    font-weight: 300;
}
blockquote h3{
    font-style: oblique;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
blockquote img{
    width: 80%
}
/* MIS PROYECTOS */
#projects{
    padding: 80px 40px;
    text-align: center;
}
/* project CARD */
.projects__container--card{
    border-radius: 10px;
    border: 1px #bdbdbd solid;
    margin-bottom: 20px;
}
.projects__container--card img{
    width: 250px;
    height: 220px;
}
.card__icon{
    margin: 25px 0;
    height: 180px;
}
.projects__container--card img + figcaption{
    color: var(--color__text__two);
    padding-bottom: 4px;
    margin: 0 50px 20px;
    border-bottom: 2px #2e2e31 solid;
}
/* CONTACTO */
#contact h3{
    font-size: 2.6rem;
    margin-left: 20px;
}
.contact__container--box{
    padding-bottom: 20px;
}
#contact h3 + p{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    color: var(--color__text__two);
    margin: 30px 20px;
}
/* contactame BOX */
.contact__container--box--card figure{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.contact__container--box--card i + figcaption{
    color: var(--color__text__two);
    font-size: 1rem;
    font-weight: 300;
    margin: 20px 0;
}
.contact__container--box--card i{
    color: var(--pink);
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
}
.contact__container--box--card a:hover figcaption{
    color: var(--pink);
}
.contact__container--box--card a:hover figure i{
    background-color: var(--pink);
    border-radius: 100%;
    color: var(--color__white);
}
/* escribeme BOX */
form{
    margin: 25px 20px;
}
fieldset{
    border: none;
}
.form__date{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
fieldset input, fieldset textarea{
    border: none;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--backgroun__color);
    font-size: 1.2rem;
    outline-color: var(--pink);
}
#email, #mensaje, .form__date input{
    width: 100%;
}
/*boton de enviar*/
fieldset button{
    background-color: var(--pink);
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    width: 120px;
    margin-top: 30px;
}
/* FOOTER */
footer{
    background-color: var(--pink);
    padding: 50px 0;
}
footer h6{
    text-align: center;
    margin-top: 35px;
    font-style: italic;
}
h6 i{
    color: lightseagreen;
}
/*  redes sociales  */
#socialmedia__footer{
    display: flex;
    justify-content: space-around;
    padding: 0 60px;
}
#socialmedia__footer figure i{
    padding: 13px;
    background-color: var(--backgroun__color);
    color: var(--pink);
    border-radius: 100%;
    border: 1px #FF0066 solid;
}
#socialmedia__footer a:hover i{
    border: 1px #ffffff solid;
    background-color: var(--pink);
    color: var(--color__white);
}
/* media queries 760px para tablet */
@media (min-width: 768px){
    /*_________MAIN________*/
    /* BOX 1 | ABOUT MY */
    #about__hello{
        font-weight: 900;
        font-size: 2rem;
    }
    h1{
        font-size: 3rem;
    }
    #about__quiensoy{
        font-size: 1.2rem;
    }
    /*plus, uno los mismos estilos para acomodar las cajitas de mis conocimientos y mis proyectos*/
    /* MIS CONOCIMIENTOS *___/  /____* MIS PROYECTOS */  
    .skills__container, .projects__container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    /* MIS CONOCIMIENTOS */
    .skills__container--card{
        width: 40%;
    }
     /* MIS PROYECTOS */
    .projects__container--card{
        width: 45%;
    }
    .card__icon{
        height: 170px;
    }
    /* CITA DEL PRINCIPITO */
    blockquote img{
        width: 50%;
    }
    blockquote p{
       font-size: 1.5rem;
       margin: 15px 40px 40px;
    }
    blockquote h3{
        font-size: 2rem;
    }
    /* CONTACTO */
    /* CONTAINER BOX*/
    .contact__container{
        padding: 20px;
     }
     #contact h3 + p{
        margin-right: 300px;
     }
     .contact__container--box{
        padding-bottom: 40px;
    }
    /* contactame BOX */ /**/
    .contact__container--box--card{
        display: flex;
        justify-content: flex-start;
    }
    .contact__container--box--card a{
        width: 50%;
      }
    /* escribeme BOX */
    .form__date{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /* FOOTER */
    .nav__footer{
      display: initial;
    }
    .nav__footer ul{
        display: flex;
        justify-content: space-around;
        padding: 30px 160px;
    }
    .nav__footer ul li{
        list-style: none;
    }
    #socialmedia__footer{
      padding: 0 220px;
    }
}
/* media queries 1200px para desktop */
@media (min-width: 1200px){
    body{
        padding-top: 50px;   
    }
    /* HEADER */
    header{
        background-color: var(--color__white);
        width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
        left: 0; /* Posicionamos la cabecera al lado izquierdo */
        top: 0; /* Posicionamos la cabecera pegada arriba */
        position: fixed; /* Hacemos que la cabecera tenga una posición fija */
        box-shadow: 20px -60px 60px 40px rgba(0,0,0,0.50);
    }
    header .navbar{
         display: initial;
    }
    header .navbar ul{
        display: flex;
        justify-content: flex-end;
    }
    header ul li{
        list-style: none;
        margin: 38px 30px 40px 0;
    }
    header li a{
        color: var(--color__dark);
    }
    /* botton para ir a la seccion contacto */
    .navbar__btn{
        background-color: var(--pink);
        padding: 10px 30px;
        border-radius: 30px;
        margin-right: 120px;
        }
    /*_________MAIN________*/
    /* ABOUT MY */
    #about{
        display: flex;
        justify-content: space-around;
        text-align: left;
        padding-left: 90px;
    }
    /* BOX 1 | ABOUT MY */
    #about article{
        width: 60%;
    }
    #about__hello{
        font-size: 2.2rem;
        margin: 140px 0 20px;
    }
    h1{
        font-size: 3.2rem;
        margin-top: 10px;
    }
    #about__quiensoy{
        padding: 0;
        margin-top: 20px;
        font-size: 1.2rem;
    }
    .about__btn{
        margin-top: 30px;
    }
    /* BOX 2 | ABOUT MY */
    #girl{
        width: 40%;
        margin-top: 40px;
    }
    #girl img{
        width: 400px;
    }
    /*plus, mismo padding mas grande para mis conocimientos y mis proyectos*/
    #skills, #projects{
        padding-top: 180px;
    }
    /* MIS CONOCIMIENTOS */
    .skills__container{
        padding: 0 200px;
    }
    .skills__container--card{
        padding: 40px 50px;
        width: 30%;
    }
    .skills__container--card img{
        width: 60%;
    }
    /*MIS PROYECTOS*/
    .projects__container{
        padding: 0 100px;
    }
    .projects__container--card{
        width: 30%;
    }
    /*PLUS - SIRVE PARA EL TITULO Y TEXTO DE LA SECCION MIS CONOCIMIENTOS Y LA SECCION MIS PROYECTOS*/
    #skills h2, #projects h2{
         font-size: 3rem;
    }
    /* CITA DEL PRINCIPITO */
    blockquote p{
       padding: 0 300px;
    }
    blockquote p + h3{
        font-size: 2.2rem;
    }
    blockquote figure img{
        width: 25%;
    }
    /* CONTACTAME */
    #contact{
        background-color: var(--backgroun__color);
        padding: 180px 120px;
    }
    /* CONTAINER BOX */
    .contact__container{
        border-radius: 10px;
        border: 1px #bdbdbd solid;
        background-color: var(--color__white);
        display: flex;
        justify-content: space-between;
        padding: 80px 40px 40px;
        width: 100%;
    }
    #contact h3 + p{
        margin-right: 80px;
    }
    #contact h3{
        font-size: 3rem;
    }
    /* contactame BOX */
    .contact__container--box--card{
        display: flex;
        flex-direction: column;
    }
    .contact__container--box--card figure{
        margin-left: 10px;
    }
    
    /* escribeme BOX */
    .form__date article{
        width: 48%;
    }
    /*FOOTER*/
    .nav__footer ul{
        display: flex;
        justify-content: space-around;
        padding: 50px 460px;
    }
    #socialmedia__footer{
        padding: 0 560px;
      }
}




